{#
	var                    Description / Instance of
	-------------------------------------------------
	order                  SalesOrder|SalesHistory
#}

{% import "util/macros/html.twig" as html %}

<div>
	{% block header %}
		{% include 'account/orders/order/order/sections/header.twig' %}
	{% endblock %}
</div>

{% block items %}
	<div class="mb-3">
		<h3 class="text-uppercase">Items</h3>
		{% block items_list %}
			{% include 'account/orders/order/order/sections/items.twig' %}
		{% endblock %}
	</div>
{% endblock %}

{% block paymentlinks %}
	{% if config.app.useDpay %}
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h3 class="text-uppercase">Payment Link</h3>
			</div>
			<div class="col-sm-6">
				{% if page.hasPaymentLink(input.get.int('ordn')) %}
					{% set link = page.fetchPaymentLink(input.get.int('ordn')) %}
					<a href="{{ link.url }}" target="_blank" class="btn {{ CSS.colors.buttons.getClass('link') }}">
						$ Pay
					</a>
				{% else %}
					N/A
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block documents %}
	<h3 class="text-uppercase">Documents</h3>
	{% include 'account/orders/order/order/sections/documents.twig' %}
{% endblock %}

{% block footer %}
	<div class="d-flex justify-content-between mt-3">
		<div></div>

		<div>
			<a href="{{ page.listUrl() }}" class="btn {{ CSS.colors.buttons.getClass('exit') }}">
				{{ html.iconType({'type': 'exit'}) }} Exit
			</a>
		</div>
	</div>
{% endblock %}
