<section class="bar bg-gray">
	<div class="container">
		<ul class="list-unstyled owl-carousel customers no-mb">
			<li class="item"><img src="{{ urls.files ~ 'test/' }}customer-1.png" alt="" class="img-fluid"></li>
			<li class="item"><img src="{{ urls.files ~ 'test/' }}customer-2.png" alt="" class="img-fluid"></li>
			<li class="item"><img src="{{ urls.files ~ 'test/' }}customer-3.png" alt="" class="img-fluid"></li>
			<li class="item"><img src="{{ urls.files ~ 'test/' }}customer-4.png" alt="" class="img-fluid"></li>
			<li class="item"><img src="{{ urls.files ~ 'test/' }}customer-5.png" alt="" class="img-fluid"></li>
			<li class="item"><img src="{{ urls.files ~ 'test/' }}customer-6.png" alt="" class="img-fluid"></li>
		</ul>
	</div>
</section>