<ul class="list-inline photo-stream">
	<li class="list-inline-item"><a href="#"><img src="{{ urls.files ~ 'test/' }}detailsquare.jpg" alt="..." class="img-fluid"></a></li>
	<li class="list-inline-item"><a href="#"><img src="{{ urls.files ~ 'test/' }}detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
	<li class="list-inline-item"><a href="#"><img src="{{ urls.files ~ 'test/' }}detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
	<li class="list-inline-item"><a href="#"><img src="{{ urls.files ~ 'test/' }}detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
	<li class="list-inline-item"><a href="#"><img src="{{ urls.files ~ 'test/' }}detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
	<li class="list-inline-item"><a href="#"><img src="{{ urls.files ~ 'test/' }}detailsquare.jpg" alt="..." class="img-fluid"></a></li>
</ul>