{% import "util/macros/html.twig" as html %}

<div class="list-group invoice-list">
	<div class="list-group-item bg-light h4 mb-0">
		{% block header %}
			<div class="row">
				<div class="col-2">
					<a href="{{ input.sortUrl('invoicedate') }}" class="link sort">Invoice Date
						{% if input.get.text('orderBy') == 'invoicedate'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-2">
					<a href="{{ input.sortUrl('ordernumber') }}" class="link sort">Invoice # 
						{% if input.get.text('orderBy') == 'ordernumber'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-2">
					<a href="{{ input.sortUrl('duedate') }}" class="link sort">Due Date
						{% if input.get.text('orderBy') == 'duedate'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-2 text-right">
					<a href="{{ input.sortUrl('total') }}" class="link sort">Total
						{% if input.get.text('orderBy') == 'total'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-2">Actions</div>
			</div>
		{% endblock %}
	</div>
	
	{% block results %}
		{% if results.count == 0 %}
			<div class="list-group-item bg-light">
				<div class="text-center">There are no results to display.</div>
			</div>
		{% endif %}
		
		{% for invoice in results %}
			<div class="list-group-item {{ browseragent.isMobile() ? 'py-2' : 'py-1' }} invoice" data-ordn="{{ invoice.ordn }}">
				{% block result_layout %}
					<div class="row">
						<div class="col-2">{{ invoice.invoicedate|convertdate }}</div>
						<div class="col-2">{{ invoice.invnbr }}</div>
						<div class="col-2">{{ invoice.duedate|convertdate }}</div>
						<div class="col-2 text-right">$ {{ invoice.total|currency }}</div>
						<div class="col-4">
							<div class="form-row">
								{% if config.app.useDpay %}
									<div class="col-4">
										{% if page.hasPaymentLink(invoice.invnbr) %}
											{% set link = page.fetchPaymentLink(invoice.invnbr) %}
											
											<a href="{{ link.url }}" target="_blank" class="btn btn-sm {{ CSS.colors.buttons.getClass('link') }}">
												$ Pay
											</a>
										{% else %}
											<button type="button" class="btn btn-sm {{ CSS.colors.buttons.getClass('add') }} collapse add-invoice" data-invnbr="{{ invoice.invnbr }}">
												{{ html.iconType({'type': 'add'}) }} Add
											</button>
										{% endif %}
									</div>
								{% endif %}
								<div class="col-6">
									{% if page.orderExists(invoice.ordn) %}
										<a href="{{ page.orderUrl(invoice.ordn) }}" class="btn btn-sm {{ CSS.colors.buttons.getClass('link') }}" target="_blank">
											View Order
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endblock %}
			</div>
		{% endfor %}
	{% endblock %}
</div>
