{% import "util/macros/html.twig" as html %}

<div class="list-group">
	<div class="list-group-item bg-light h4 mb-0">
		{% block header %}
			<div class="form-row">
				<div class="col-4">
					<a href="{{ input.sortUrl('invoicedate') }}" class="link sort">Invoice Date
						{% if input.get.text('orderBy') == 'invoicedate'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-4">
					<a href="{{ input.sortUrl('duedate') }}" class="link sort">Due Date
						{% if input.get.text('orderBy') == 'duedate'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-4 text-right">
					<a href="{{ input.sortUrl('total') }}" class="link sort">Total
						{% if input.get.text('orderBy') == 'total'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
			</div>
			<div class="-form-row">
				<div class="col-1"></div>
				<div class="col-4">
					<a href="{{ input.sortUrl('ordernumber') }}" class="link sort">Invoice # 
						{% if input.get.text('orderBy') == 'ordernumber'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
			</div>
		{% endblock %}
	</div>
	
	{% block results %}
		{% if results.count == 0 %}
			<div class="list-group-item bg-light">
				<div class="text-center">There are no results to display.</div>
			</div>
		{% endif %}
		
		{% for order in results %}
			<div class="list-group-item py-1">
				<div class="form-row">
					<div class="col-4">{{ order.invoicedate|convertdate }}</div>
					<div class="col-4">{{ order.duedate|convertdate }}</div>
					<div class="col-4 text-right text-bold">$ {{ order.total|currency }}</div>
				</div>
				<div class="-form-row">
					<div class="col-1"></div>
					<div class="col-3">{{ order.invnbr }}</div>
				</div>
				<div class="form-row">
				<div class="col-1"></div>
					<div class="col-3">
						{% if page.orderExists(order.ordn) %}
							<a href="{{ page.orderUrl(order.ordn) }}" class="btn btn-sm {{ CSS.colors.buttons.getClass('link') }}" target="_blank">
								View Order
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
</div>
