{% import "util/macros/html.twig" as html %}

{% extends 'account/invoices/open/list/desktop.twig' %}

{% block header %}
	<div class="form-row">
		<div class="col-4">
			<a href="{{ input.sortUrl('invoicedate') }}" class="link sort">Invoice Date
				{% if input.get.text('orderBy') == 'invoicedate'  %}
					{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
				{% endif %}
			</a>
		</div>
		<div class="col-4">
			<a href="{{ input.sortUrl('duedate') }}" class="link sort">Due Date
				{% if input.get.text('orderBy') == 'duedate'  %}
					{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
				{% endif %}
			</a>
		</div>
		<div class="col-4 text-right">
			<a href="{{ input.sortUrl('total') }}" class="link sort">Total
				{% if input.get.text('orderBy') == 'total'  %}
					{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
				{% endif %}
			</a>
		</div>
	</div>
	<div class="-form-row">
		<div class="col-1"></div>
		<div class="col-4">
			<a href="{{ input.sortUrl('ordernumber') }}" class="link sort">Invoice # 
				{% if input.get.text('orderBy') == 'ordernumber'  %}
					{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
				{% endif %}
			</a>
		</div>
	</div>
{% endblock %}

{% block result_layout %}
	<div class="form-row">
		<div class="col-4">{{ invoice.invoicedate|convertdate }}</div>
		<div class="col-4">{{ invoice.duedate|convertdate }}</div>
		<div class="col-4 text-right text-bold">$ {{ invoice.total|currency }}</div>
	</div>
	<div class="form-row mb-2">
		<div class="col-1"></div>
		<div class="col-3">{{ invoice.invnbr }}</div>
	</div>
	<div class="form-row">
		<div class="col-1"></div>
		<div class="col-6">
			{% if page.orderExists(invoice.ordn) %}
				<a href="{{ page.orderUrl(invoice.ordn) }}" class="btn {{ CSS.colors.buttons.getClass('link') }}" target="_blank">
					View Order
				</a>
			{% endif %}
		</div>

		{% if config.app.useDpay %}
			<div class="col-4">
				{% if page.hasPaymentLink(invoice.invnbr) %}
					{% set link = page.fetchPaymentLink(invoice.invnbr) %}
					
					<a href="{{ link.url }}" target="_blank" class="btn {{ CSS.colors.buttons.getClass('link') }}">
						$ Pay
					</a>
				{% else %}
					<button type="button" class="btn {{ CSS.colors.buttons.getClass('add') }} collapse add-invoice" data-invnbr="{{ invoice.invnbr }}">
						{{ html.iconType({'type': 'add'}) }} Add
					</button>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}

