{% import "util/macros/html.twig" as html %}

<div class="list-group">
	<div class="list-group-item {{ browseragent.isMobile() ? 'px-2' : '' }} bg-light text-bold">
		{% block header_display %}
			<div class="row">
				<div class="col-3">Folder</div>
				<div class="col-2">Title</div>
				<div class="col-2">Date</div>
				<div class="col-2">Time</div>
			</div>
		{% endblock %}
	</div>
	{% for document in page.findOrderDocuments(order.ordernumber) %}
		<div class="list-group-item {{ browseragent.isMobile() ? 'px-2' : '' }}">
			{% block item_display %}
				<div class="row">
					<div class="col-3">{{ document.directory.description }}</div>
					<div class="col-2">{{ document.title }}</div>		
					<div class="col-2">{{ document.date|convertdate }}</div>
					<div class="col-2">{{ (document.date ~ document.time[:4])|convertdate("h:i A") }}</div>
					<div class="col-2">
						<a href="{# page.orderUrl(order.ordernumber) #}" class="btn btn-sm {{ CSS.colors.buttons.getClass('link') }}">
							{{ html.iconType({'type': 'document'}) }} View
						</a>
					</div>
				</div>
			{% endblock %}
		</div>
	{% endfor %}
</div>