{% import "util/macros/html.twig" as html %}

{% extends  'account/orders/order/order/sections/documents/desktop.twig' %}

{% block header_display %}
	<div class="row">
		<div class="col-6">Folder</div>
		<div class="col-6">Title</div>
		<div class="col-6">Date / Time</div>
	</div>
{% endblock %}

{% block item_display %}
	<div class="row">
		<div class="col-6">{{ document.directory.description }}</div>
		<div class="col-6">{{ document.title }}</div>		
		<div class="col-1"></div>
		<div class="col-6">{{ document.date|convertdate }} {{ (document.date ~ document.time[:4])|convertdate("h:i A") }}</div>
		<div class="col-4">
			<a href="{# page.orderUrl(order.ordernumber) #}" class="btn btn-sm {{ CSS.colors.buttons.getClass('link') }}">
				{{ html.iconType({'type': 'document'}) }} View
			</a>
		</div>
	</div>
{% endblock %}