{% extends 'account/orders/order/order/sections/items/desktop.twig' %}

{% block header_display %}
	<div class="form-row">
		<div class="col-10">Product</div>
		<div class="col-2 text-right">Qty</div>
		<div class="col-5">Price</div>
		<div class="col-2"></div>
		<div class="col-5 text-right">Total</div>
	</div>
{% endblock %}

{% block item_display %}
	<div class="form-row">
		<div class="col-10">
			<b>{{ item.itemid }}</b><br>
			{{ item.description }}
		</div>
		<div class="col-2 text-right">{{ item.qty_ordered|number_format(0) }}</div>
		<div class="col-5 text-right"><b>Price:</b> ${{ item.price|currency }}</div>
		
		<div class="col-2 text-right"></div>
		<div class="col-5 text-right"><b>Total:</b> ${{ item.total_price|currency }}</div>
	</div>
{% endblock %}
	
{% block totals %}
	<div class="list-group-item py-2 px-2">
		<div class="form-row">
			<div class="col-8 text-bold text-right">Subtotal</div>
			<div class="col-4 text-right">${{ order.subtotal_tax|currency }}</div>
		</div>
	</div>
	<div class="list-group-item py-2 px-2">
		<div class="form-row">
			<div class="col-8 text-bold text-right">Shipping</div>
			<div class="col-4 text-right">${{ order.total_freight|currency }}</div>
		</div>
	</div>
	<div class="list-group-item py-2 px-2">
		<div class="form-row">
			<div class="col-8 text-bold text-right">Tax</div>
			<div class="col-4 text-right">${{ order.total_tax|currency}}</div>
		</div>
	</div>
	<div class="list-group-item py-2 px-2">
		<div class="form-row">
			<div class="col-8 text-bold text-right">Total</div>
			<div class="col-4 text-right">${{ order.total_total|currency }}</div>
		</div>
	</div>
{% endblock %}
