{% import "util/macros/html.twig" as html %}

<div class="list-group">
	<div class="list-group-item bg-light h4 mb-0">
		{% block header %}
			<div class="form-row mb-3">
				<div class="col-4">
					<a href="{{ input.sortUrl('date_ordered') }}" class="link sort">Order Date
						{% if input.get.text('orderBy') == 'date_ordered'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-4">
					<a href="{{ input.sortUrl('invoicedate') }}" class="link sort">Order Date
						{% if input.get.text('orderBy') == 'invoicedate'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-4 text-right">
					<a href="{{ input.sortUrl('total_total') }}" class="link sort">Order Total
						{% if input.get.text('orderBy') == 'total_total'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
			</div>
			<div class="form-row">
				<div class="col-1"></div>
				<div class="col-3">
					<a href="{{ input.sortUrl('ordernumber') }}" class="link sort">Order # 
						{% if input.get.text('orderBy') == 'ordernumber'  %}
							{{ html.iconTypeSort({'type': 'sort-numeric', 'direction' : input.get.text('sortDir')}) }}
						{% endif %}
					</a>
				</div>
				<div class="col-4">PO #</div>
				<div class="col-4">Ship-To</div>
			</div>
		{% endblock %}
	</div>
	
	{% block results %}
		{% if results.count == 0 %}
			<div class="list-group-item bg-light">
				<div class="text-center">There are no results to display.</div>
			</div>
		{% endif %}
		
		{% for order in results %}
			<div class="list-group-item py-2">
				<div class="form-row">
					<div class="col-4">{{ order.orderdate|convertdate }}</div>
					<div class="col-4">{{ order.invoicedate|convertdate }}</div>
					<div class="col-4 text-right">$ {{ order.total_total|currency }}</div>
				</div>
				<div class="form-row">
					<div class="col-1"></div>
					<div class="col-3">{{ order.ordernumber }}</div>
					<div class="col-4">{{ order.custpo }}</div>
					<div class="col-4">
						<div>{{ order.shiptoid }}</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-1"></div>
					<div class="col-4">
						<a href="{{ page.orderUrl(order.ordernumber) }}" class="btn btn-sm {{ CSS.colors.buttons.getClass('link') }}">View</a>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
</div>
