{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog)
	posts                  ProcessWire\PageArray(template=blog-posts)
#}

{% extends 'blog/layout.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-9">
			<div>
				{% include 'blog/page/list.twig' %}
			</div>
			
			<ul class="pager list-unstyled d-flex align-items-center justify-content-between">
				<li class="previous {{ posts.hasNextPagination() == false ? 'disabled' : '' }}">
					<a href="{{ input.paginateUrl(input.pageNum + 1, {'includeQueryString': true}) }}" class="btn {{ CSS.colors.buttons.getClass('link') }}">
						← Older
					</a>
				</li>
				<li class="next {{ input.pageNum == 1 ? 'disabled' : '' }}">
					<a href="{{ input.paginateUrl(input.pageNum - 1, {'includeQueryString': true}) }}" class="btn {{ CSS.colors.buttons.getClass('link') }}">
						Newer →
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			{% include 'blog/sidebar.twig' with {'showSearch': true} %}
		</div>
	</div>
{% endblock %}

{% block footer %}

{% endblock %}