{% import "util/macros/html.twig" as html %}

<div class="panel panel-default sidebar-menu">
	<div class="panel-heading">
		<h3 class="h4 panel-title">Categories</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-pills flex-column text-sm">
			{% for category in pages.find('template=blog-category') %}
				<li class="nav-item">
					<a href="{{ category.url }}" class="nav-link">{{ category.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="panel sidebar-menu">
	<div class="panel-heading">
		<h3 class="h4 panel-title">Tags</h3>
	</div>
	<div class="panel-body">
		<ul class="tag-cloud list-inline">
			{% for tag in pages.find('template=blog-tag') %}
				<li class="list-inline-item">
					<a href="{{ tag.url() }}">
						{{ html.iconType({'type': 'tags'}) }} {{ tag.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="panel panel-default sidebar-menu">
	<div class="panel-heading">
		<h3 class="h4 panel-title">Search</h3>
	</div>
	<div class="panel-body">
		<form role="search">
			<div class="input-group">
				<input type="text" placeholder="Search" class="form-control">
				<span class="input-group-btn">
					<button type="submit" class="btn {{ CSS.colors.buttons.getClass('submit') }}">{{ html.iconType({'type': 'search'}) }}</button>
				</span>
			</div>
		</form>
	</div>
</div>