{#
	var                    Description / Instance of
	-------------------------------------------------
	order                  SalesHistory
#}

{% extends 'account/orders/order/order/sections/header.twig' %}

{% set SHIPVIAS = DPLUS.db.fetch('shipvia') %}

{% block order_extras %}
	<div class="table-responsive">
		<table class="table table-sm">
			<tr>
				<th>Invoice Date:</th>
				<td class="text-right">{{ order.invoicedate|convertdate }}</td>
			</tr>
			<tr>
				<th>Order Date:</th>
				<td class="text-right">{{ order.orderdate|convertdate }}</td>
			</tr>
			<tr>
				<th>Requested Date:</th>
				<td class="text-right">{{ order.date_requested ? order.date_requested|convertdate }}</td>
			</tr>
			<tr>
				<th>PO #:</th>
				<td class="text-right">{{ order.custpo }}</td>
			</tr>
			<tr>
				<th>Release #:</th>
				<td class="text-right">{{ order.releasenbr }}</td>
			</tr>
			<tr>
				<th>Ship-Via:</th>
				<td class="text-right">{{ SHIPVIAS.description(order.shipvia) }}</td>
			</tr>
			<tr>
				<th>Shipping:</th>
				<td class="text-right">${{ order.total_freight|currency }}</td>
			</tr>
			<tr>
				<th>Tax:</th>
				<td class="text-right">${{ order.total_tax|currency }}</td>
			</tr>
			<tr>
				<th>Total:</th>
				<td class="text-right">${{ order.total_total|currency }}</td>
			</tr>
		</table>
	</div>
{% endblock %}