{% import "util/macros/html.twig" as html %}

<div class="top-bar">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-md-6 d-md-block d-none">
				<p>Contact us on +420 777 555 333 or hello@universal.com.</p>
			</div>
			<div class="col-md-6">
				<div class="d-flex justify-content-md-end justify-content-between">
					
					<div class="login">
						<a href="{{ pages.get('template=login').url }}"class="login-btn">
							{{ html.iconType({'type': 'sign-in'}) }}<span class="d-inline-block">Sign In</span>
						</a>
						{% if config.register.allowRegister %}
							<a href="{{ pages.registerUrl() }}" class="signup-btn">
								{{ html.iconType({'type': 'register'}) }}<span class="d-inline-block">Sign Up</span>
							</a>
						{% endif %}
					</div>
					<ul class="social-custom list-inline">
						<li class="list-inline-item"><a href="#">{{ html.iconType({'type': 'facebook'}) }}</a></li>
						<li class="list-inline-item"><a href="#">{{ html.iconType({'type': 'twitter'}) }}</a></li>
						<li class="list-inline-item"><a href="#">{{ html.iconType({'type': 'email'}) }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>