{% macro postListItem(post) %}
	{% import "util/macros/html.twig" as html %}

	<div class="home-blog-post">
		<div class="image">
			{% if post.blog_images.count() %}
				{% set img = post.blog_images.first() %}
				<img src="{{ img.url }}" alt="..." class="img-fluid">
			{% endif %}
			<div class="overlay d-flex align-items-center justify-content-center">
				<a href="{{ post.url }}" class="btn {{ CSS.colors.buttons.getClass('link-light') }}">
					{{ html.iconType({'type': 'link'}) }} Read More
				</a>
			</div>
		</div>
		<div class="text">
			<h4>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</h4>
			<p class="author-category">
				By <a href="#">{{ post.writer.title }}</a> in <a href="blog.html">{{ post.blog_categories.first().title }}</a>
			</p>
			<p class="intro">{{ post.blog_body|striptags }}</p>
			<a href="{{ post.url }}" class="btn {{ CSS.colors.buttons.getClass('link') }}">Continue Reading</a>
		</div>
	</div>
{% endmacro %}