{% import "util/macros/html.twig" as html %}

<form action="{{ input.url() }}" method="POST" id="loginForm">
	<input type="hidden" name="action" value="login">

	<div class="form-group">
		<label for="email">Email</label>
		<input id="email" type="email" class="form-control" name="email" required>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input id="password" type="password" class="form-control" name="password" required>
	</div>
	
	<div class="mb-5">
		<button type="submit" class="btn btn-block btn-success text-white">
			{{ html.iconType({'type': 'lock'}) }}  Sign In
		</button>
	</div>
	<div class="d-flex w-100 justify-content-between">
		<div>
			<p class="lead mb-1">Forgot Password?</p>
			<a href="{# page.forgotPasswordUrl() #}" class="btn btn-block btn-info text-white">
				{{ html.iconType({'type': 'lock'}) }}  Recover Account
			</a>
		</div>
		<div>
			<p class="lead mb-1">Forgot Login?</p>
			<a href="{# pages.get('template=contact').url #}" class="btn btn-block {{ CSS.colors.buttons.getClass('submit') }} text-white">
				Contact Us
			</a>
		</div>
		<div>
			<p class="lead mb-1">Request Login?</p>
			<a href="{# page.registerAccountUrl(session.getFor('login', 'login')) #}" class="btn btn-block btn-primary text-white">
				{{ html.iconType({'type': 'lock'}) }}  Register
			</a>
		</div>
	</div>
</form>