<section class="bar pt-0">
	<div class="heading text-center">
		<div class="mb-1">
			<img src="{{ pages.get('template=config-site').logo.height(300).url }}" class="img-fluid" alt="{{ site.title }} logo">
		</div>
		<h2>Sign In</h2>
	</div>

	{% if session.getFor('login', 'login') %}
		<div class="mb-3">
			{% if login.invalidAccount() %}
				{% include 'util/alert.twig' with {'type': 'danger', 'iconclass': 'bi bi-exclamation-triangle-fill', 'title': 'Error', 'message': "Account not found"} %}
				<a href="{{ page.registerAccountUrl(session.getFor('login', 'login')) }}" class="btn btn-primary text-white">
					<i class="fa fa-lock"></i> Register
				</a>
			{% else %}
				{% include 'util/alert.twig' with {'type': 'danger', 'iconclass': 'bi bi-exclamation-triangle-fill', 'title': 'Error', 'message': "Invalid Password"} %}
				<a href="{{ page.forgotPasswordUrl(session.getFor('login', 'login')) }}" class="btn btn-info text-white">
					<i class="fa fa-lock"></i> Recover Account
				</a>
			{% endif %}
		</div>
	{% endif %}

	<form method="post" id="form-login">
		<input type="hidden" name="action" value="login">
		<div class="form-group">
			<label for="email">Email</label>
			<input id="email" type="email" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" type="password" class="form-control" name="password">
		</div>
		<div class="mb-5">
			<button type="submit" class="btn btn-block btn-success text-white">
				<i class="fa fa-lock"></i> Sign In
			</button>
		</div>
		<div class="d-flex w-100 justify-content-between">
			<div>
				<p class="lead mb-1">Forgot Password?</p>
				<a href="{{ page.forgotPasswordUrl(session.getFor('login', 'login')) }}" class="btn btn-block btn-info text-white">
					<i class="fa fa-lock"></i> Recover Account
				</a>
			</div>
			<div>
				<p class="lead mb-1">Forgot Login?</p>
				<a href="{{ pages.get('template=contact').url }}" class="btn btn-block btn-info text-white">
					Contact Us
				</a>
			</div>
			<div>
				<p class="lead mb-1">Request Login?</p>
				<a href="{{ page.registerAccountUrl(session.getFor('login', 'login')) }}" class="btn btn-block btn-primary text-white">
					<i class="fa fa-lock"></i> Register
				</a>
			</div>
		</div>
	</form>
</section>