{% import "util/macros/html.twig" as html %}

{% if session.getFor('login', 'attempts') %}
	<div class="mb-3">
		{{ html.alert({'type': 'danger', 'icon': {'type': 'warning'}, 'title': 'Invalid Email / Password'}) }}
	</div>
{% endif %}

{% include 'login/form.twig' %}

<div class="row">
	<div class="col-9 col-sm-4 mb-3">
		<p class="lead mb-1">Forgot Password?</p>
		<a href="{{ page.forgotPasswordUrl() }}" class="btn btn-block {{ CSS.colors.buttons.getClass('link') }}">
			{{ html.iconType({'type': 'lock'}) }}  Recover Account
		</a>
	</div>
	
	{% if config.register.allowRegister %}
		<div class="col-6 col-sm-4 mb-2">
			<p class="lead mb-1">Request Login</p>
			<a href="{{ page.registerUrl() }}" class="btn btn-block {{ CSS.colors.buttons.getClass('link') }}">
				{{ html.iconType({'type': 'lock'}) }}  Register
			</a>
		</div>
	{% endif %}

	<div class="col-6 col-sm-4 mb-2">
		<p class="lead mb-1">Forgot Login?</p>
		<a href="{{ pages.get('template=contact-us').url }}" class="btn btn-block {{ CSS.colors.buttons.getClass('link') }}">
			Contact Us
		</a>
	</div>
</div>