{#
	var                    Description / Instance of
	-------------------------------------------------
	order                  SalesOrder|SalesHistory
#}

{% set SHIPVIAS = DPLUS.db.fetch('shipvia') %}

<div class="row">
	<div class="col-sm-3">
		<h3 class="text-uppercase">Shipped To:</h3>
		{% block shipped_to %}
			<address>
				{{ order.shipto_name }} <br>
				{{ order.shipto_address1 }} <br>

				{% if order.shipto_address2 %}
					{{ order.shipto_address2 }} <br>
				{% endif %}
				{{ order.shipto_city }}, {{ order.shipto_state }} {{ order.shipto_zip }}
			</address>
		{% endblock %}
	</div>
	<div class="col-sm-3">
		<h3 class="text-uppercase">Billed To:</h3>
		{% block billed_to %}
			<address>
				{{ order.customer.name }} <br>
				{{ order.customer.address1 }} <br>

				{% if order.customer.address2 %}
					{{ order.customer.address2 }} <br>
				{% endif %}
				{{ order.customer.city }}, {{ order.customer.state }} {{ order.customer.zip }}
			</address>
		{% endblock %}
	</div>
	<div class="col-sm-3">
		{% block contact %}
			<div class="table-responsive">
				<table class="table table-sm">
					<tr>
						<th>Contact:</th>
						<td class="text-right">{{ order.contact }}</td>
					</tr>
					<tr>
						<th>Email:</th>
						<td class="text-right">{{ order.email }}</td>
					</tr>
					<tr>
						<th>Phone:</th>
						<td class="text-right">{{ order.phone|phone_us }}</td>
					</tr>
					<tr>
						<th>Fax:</th>
						<td class="text-right">{{ order.fax|phone_us }}</td>
					</tr>
				</table>
			</div>
		{% endblock %}
	</div>
	<div class="col-sm-3">
		{% block order_extras %}
			<div class="table-responsive">
				<table class="table table-sm">
					<tr>
						<th>Order Date:</th>
						<td class="text-right">{{ order.orderdate|convertdate }}</td>
					</tr>
					<tr>
						<th>Requested Date:</th>
						<td class="text-right">{{ order.date_requested ? order.date_requested|convertdate }}</td>
					</tr>
					<tr>
						<th>PO #:</th>
						<td class="text-right">{{ order.custpo }}</td>
					</tr>
					<tr>
						<th>Release #:</th>
						<td class="text-right">{{ order.releasenbr }}</td>
					</tr>
					<tr>
						<th>Ship-Via:</th>
						<td class="text-right">{{ SHIPVIAS.description(order.shipvia) }}</td>
					</tr>
					<tr>
						<th>Shipping:</th>
						<td class="text-right">${{ order.total_freight|currency }}</td>
					</tr>
					<tr>
						<th>Tax:</th>
						<td class="text-right">${{ order.total_tax|currency }}</td>
					</tr>
					<tr>
						<th>Total:</th>
						<td class="text-right">${{ order.total_total|currency }}</td>
					</tr>
				</table>
			</div>
		{% endblock %}
	</div>
</div>